body{
    background-image: url("/img/fundonotas.jpg");
    font-family: "Courier Prime", monospace;
    
 }

 .cabecalho {
    background-color: #533745;
    padding: 3%;
 }

 .logo
{
    background-color: #9D9171;
}

.logoimg{
    width: 10%;
}
nav {
    background-color: #AB4E68;
}

main {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

section {
    background-color: #C4A287;
    padding: 2%;

}

.rodape {
    background-color: #533745;
    padding: 3%;
}

table{
    border: 1px solid #B1A7A6;
	border-collapse: collapse;
    text-align: center;
    line-height: 2;

    }

 th, td {
    border: 1px solid #B1A7A6;
     border-collapse: collapse;}
    
h1 {
    font-weight: bolder;
    font-size: 200%;
    text-align: center;

}
h2 {
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}


ul li {
    line-height: 2;

}

.titulos {
    font-family: "Courier Prime", monospace;
    line-height: 3;
}

p{
    line-height: 2;
}

.linha{
    display: flex;
    flex-flow:row wrap ;
}

.col-3{
    width: 25%;
}

.imggaleria{
    width: 100%;
}
.col-3p{
    font-size: 1rem;
    text-align: center;
}